<title>Nutrition Facts</title>

 <header>
        <h1>Recipe Analyzer</h1>
    </header>

    <nav>
        <a href="/">Home</a>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-4">Nutrition Facts</h1>

        <!-- Total Calories per Ingredient Card -->
        <div class="card mb-4">
            <div class="card-header">
                <h2>Total Calories per Ingredient</h2>
            </div>
            <ul class="list-group list-group-flush">
                <% @calories_hash.each do |ingredient, calories| %>
                    <li class="list-group-item"><strong><%= ingredient %>:</strong> <%= calories %> calories</li>
                <% end %>
            </ul>
        </div>

        <!-- Total Calories Card -->
        <div class="card mb-4">
            <div class="card-header">
                <h2>Total Calories</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Total calories:</strong> <%= @total_calories %> calories</li>
            </ul>
        </div>

        <!-- Macros Card -->
        <div class="card mb-4">
            <div class="card-header">
                <h2>Macros</h2>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Protein:</strong> <%= @total_protein %>g</li>
                <li class="list-group-item"><strong>Total Carbohydrates:</strong> <%= @total_carbohydrates %>g</li>
                <li class="list-group-item"><strong>Total Fat:</strong> <%= @total_fats %>g</li>
            </ul>
        </div>

        <!-- Analyze Another Recipe Button -->
        <a href="/" class="btn btn-primary mt-4">Analyze Another Recipe!</a>
    </div>
